<h1>Liste aller Restaurants</h1>

<button onclick="window.location.href = '/all/add';">Add new Restaurant</button>

<hr />

{{#each restaurants}}

  <h1>{{name}}</h1>

  <h4>Adresse:</h4>
  <p>{{street}} {{houseNumber}}</p>
  <p>{{zipCode}}, {{city}}</p>
  <p>{{country}}</p>

  <h4>Kontakt:</h4>
  <p>{{telephone}}</p>
  <p>{{url}}</p>

  <h4>Beschreibung:</h4>
  <p>{{description}}</p>

  <button onclick="window.location.href = '/all/edit/{{_id}}';">Edit</button>
  <button
    onclick="window.location.href = '/all/delete/{{_id}}';"
  >Delete</button>
  <button onclick="window.location.href = '/all/add-favorite/{{_id}}';">Add to
    Favorites</button>
  <hr />

{{/each}}

<hr />

{{!-- Section with map starts --}}

<div id="map" style="width: 70vw; height: 70vh;"></div>

<script
  src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"
></script>

<script>
  mapboxgl.accessToken ='pk.eyJ1IjoibWlzdHJhbGdyYXVlc3RlIiwiYSI6ImNsMmc2c2NuZjAxMjIzZnF3MDYzMTByeGEifQ.zTsKOfC6Yt3Vv-FTXhm6wQ';
  const mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });

  mapboxClient.geocoding
    .forwardGeocode({ query: 'Christinenstraße 26 Berlin Deutschland', autocomplete: false, limit: 1 })
    .send()
    .then((response) => { 
        if ( 
            !response || 
            !response.body || 
            !response.body.features || 
            !response.body.features.length
        ) { 
            console.error('Invalid response:'); 
            console.error(response); 
            return; 
        }

        const feature = response.body.features[0];

        const map = new mapboxgl.Map({
            container: 'map', 
            style: 'mapbox://styles/mapbox/streets-v11', 
            center:
            feature.center, 
            zoom: 10 }); 
  
  // Create a marker and add it to the map. new

   new mapboxgl.Marker().setLngLat(feature.center).addTo(map); });

</script>

{{!-- Section with map ends --}}

{{! <script src="/js/map-all-restaurants.js"></script> }}