<h1>Liste aller Restaurants</h1>

<button onclick="window.location.href = '/all/add';">Add new Restaurant</button>

<hr>

{{#if status}}
<p>Logged in</p>

{{/if}}

{{#each restaurants}}

	<h1>{{name}}</h1>

	<h4>Adresse:</h4>
    <p>{{street}} {{houseNumber}}</p>
    <p>{{zipCode}}, {{city}}</p>
    <p>{{country}}</p>

    <h4>Kontakt:</h4>
    <p>{{telephone}}</p>
    <p>{{url}}</p>

    <h4>Beschreibung:</h4>
    <p>{{description}}</p>

    <button onclick="window.location.href = '/all/edit/{{_id}}';">Edit</button>
    <button onclick="window.location.href = '/all/delete/{{_id}}';">Delete</button>
    <button onclick="window.location.href = '/all/add-favorite/{{_id}}';">Add to Favorites</button>
<hr>

{{/each}}

