

<div class="platzhalter"></div>


<div class="details">
<div class="containerForDetails">
{{#with restaurant}}

 {{!-- Display Image --}}
 <div class="details-left">
  <div class="image-container-details">
  <img src="{{imageUrl}}" class="restaurant-img-details" alt="{{name}}">
</div>
</div>

<div class="details-right">

<h1>{{name}}</h1>

<h4>Adresse:</h4>
<p>{{street}} {{houseNumber}}</p>
<p>{{zipCode}}, {{city}}</p>
<p>{{country}}</p>

<h4>Kontakt:</h4>
<p>{{telephone}}</p>
<a href="{{url}}">Website</a>
</div>

<div class="details-center">
<h4>Tags:</h4>
{{#each tags}}
<p>{{this}}</p>
{{/each}}

<h4>Beschreibung:</h4>
<p>{{description}}</p>

{{!-- This hidden ID is needed for the map --}}
<p id="restaurant-object-id" hidden>{{_id}}</p>

{{/with}}
</div>


<div class="details-button">
 {{!-- Buttons --}}
 <div class="button-container-restaurant">
<button class="restaurantBtn" onclick="window.location.href = '/all/edit/{{_id}}';">Edit</button>
<button class="restaurantBtn" onclick="window.location.href = '/all/delete/{{_id}}';">Delete</button>
</div>
</div>
</div>



{{!-- -------------------------------------------Map Start-------------------------------------------- --}}
<div class="map-container" style="display: flex; justify-content: center; align-items:center;">
<div id='map' style="width: 100%; margin-top: 10px;"></div>	
<script src="/js/map-detail-restaurant.js"></script>
</div>
{{!-- -------------------------------------------Map End-------------------------------------------- --}}


 


</div>


