{{#with restaurant}}

{{!-- Display Image --}}
<img src="{{imageUrl}}" class="restaurant-img" alt="{{name}}">

<h1>Edit: {{name}}</h1>

<form action="/all/edit/{{_id}}" method="POST" enctype="multipart/form-data">
    <ul>
        <li>
            <label for="">Restaurant name: </label>	
            <input type="text" name="name" value="{{name}}">
        </li>
        <li>
            <label for="">Street: </label>	
            <input type="text" name="street" value="{{street}}">
        </li>
        <li>
            <label for="">Num: </label>	
            <input type="number" name="houseNumber" value="{{houseNumber}}">
        </li>
        <li>
            <label for="">ZIP: </label>
            <input type="text" name="zipCode" value="{{zipCode}}">
        </li>
        <li>
            <label for="">City: </label>	
            <input type="text" name="city" value="{{city}}">
        </li>
        <li>
            <label for="">Country: </label>	
            <input type="text" name="country" value="{{country}}">
        </li>
        <li>
            <label for="">Phone: </label>	
            <input type="text" name="telephone" value="{{telephone}}">
        </li>
        <li>
            <label for="">Website: </label>	
            <input type="url" name="url" value="{{url}}">
        </li>
        <li>
            <label for="">Image: </label>	
            <input type="file" name="imageUrl">
            {{!-- The two hidden values are needed to store the current imageUrl and publichImageId for deleting
            the image in cloudinary, which will be replaced by the new image --}}
            <input type="text" name="existingImage" hidden value="{{imageUrl}}">
            <input type="text" name="existingPublicImageId" hidden value="{{publicImageId}}">
            
        </li>
        <li>
            <label for="">Description: </label>	
            <input type="text" name="description"value="{{description}}">
        </li>
    </ul>

    {{/with}}


    <label for="">Tags: </label>	
        <select name="tags"  multiple>
{{#each newTags}}
<option>{{name}}</option>
{{/each}}
</select>

	<button type="submit">Save</button>
</form>



