
{{#with restaurant}}

<div class="container-add">
   
</div>

<h1 class="editH1">Edit: {{name}}</h1>
<form action="/all/edit/{{_id}}" method="POST" enctype="multipart/form-data">
   <table class="add-form">
      <tr>
         <td>  <label for="">Restaurant name: </label></td> 
         <td> <input type="text" name="name" value="{{name}}"></td> 
      </tr>
      <tr>
         <td><label for="">Street: </label></td> 
         <td><input type="text" name="street" value="{{street}}"></td> 
      </tr>
      <tr>
         <td> <label for="">Num: </label></td> 
         <td>  <input type="number" name="houseNumber" value="{{houseNumber}}"></td> 
      </tr>
      <tr>
         <td><label for="">ZIP: </label></td> 
         <td><input type="text" name="zipCode" value="{{zipCode}}"></td> 
      </tr>
      <tr>
         <td><label for="">City: </label></td> 
         <td><input type="text" name="city" value="{{city}}" required></td> 
      </tr>
      <tr>
         <td><label for="">Country: </label></td> 
         <td><input type="text" name="country" value="{{country}}"></td> 
      </tr>
      <tr>
         <td> <label for="">Phone: </label>	
         <td> <input type="text" name="telephone" value="{{telephone}}">
      </tr>
      <tr>
         <td>  <label for="">Website: </label></td> 
         <td><input type="url" name="url" value="{{url}}"></td> 
      </tr>
      <tr>
         <td><label  for="">Image: </label></td>	
         <td><input type="file" name="imageUrl"></td>
         {{!-- The two hidden values are needed to store the current imageUrl and publichImageId for deleting
         the image in cloudinary, which will be replaced by the new image --}}
         <input type="text" name="existingImage" hidden value="{{imageUrl}}">
         <input type="text" name="existingPublicImageId" hidden value="{{publicImageId}}">
      </tr>
      <tr>
         <td><label for="">Description: </label>	</td> 
         <td> <input type="text" name="description"value="{{description}}"></td> 
      </tr>
{{/with}}

      <tr>
         <td><label for="">Tags: </label>	</td> 
         <td>
            
            <select name="tags"  multiple >
               {{#each newTags}}
                  
                  <option>{{name}}</option>
                  
               {{/each}}
            </select>
            
            
         </td> 
      </tr>
      <tr>
         <td></td>
         <td>
            <button class="sendToBtn" type="submit">Save</button>
         </td>
      </tr>
   </table>
</form>




